@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #848484;
  padding: 0 1rem;
}
nav > img {
  width: 80px;
}
nav > #navbar-menus {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  font-size: 20px;
}

button {
  font-size: 20px;
}

#total-cart-items {
  font-weight: bold;
  color: orangered;
}

#login-btn {
  text-decoration: underline 3px blue;
  text-underline-offset: 2px;
}

.filters-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin: 1.5rem auto;
  gap: 1rem;
}
.filters-bar > .search {
  display: flex;
  gap: 8px;
}
.filters-bar > .search > input {
  border: 1px solid #9b9b9b;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 0 0.5rem;
  font-size: large;
}
.filters-bar > .search > button {
  padding: 0.2rem 1.5rem;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}
.filters-bar > .search > button:hover {
  cursor: pointer;
}

.search-error-message {
  font-size: 20px;
}

.filters-bar > .show-all-btn {
  background-color: white;
  padding: 0.3rem 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}
.filters-bar > .show-all-btn:hover {
  cursor: pointer;
}
.filters-bar > .btn-active {
  background-color: #ffc06e;
  border: 1px solid black;
}

#restaurant-container {
  width: 1000px;
  margin: 0 auto 10rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem 4rem;
  position: relative;
}

@keyframes example {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #eaeaea;
  }
  100% {
    background-color: #f2f2f2;
  }
}

.restaurant-details-shimmer-card > .restaurant-image {
  background-color: #f2f2f2;
  border-radius: 10px;
  animation: example 0.5s infinite;
}
.restaurant-details-shimmer-card > .rating-and-sla {
  background-color: #f2f2f2;
  width: max-content;
  height: 15px;
  width: 120px;
  border-radius: 8px;
  margin: 0.5rem 0;
  animation: example 0.5s infinite;
}
.restaurant-details-shimmer-card > .restaurant-name {
  background-color: #f2f2f2;
  width: max-content;
  height: 15px;
  width: 250px;
  border-radius: 8px;
  margin: 0.5rem 0;
  animation: example 0.5s infinite;
}
.restaurant-details-shimmer-card > .cuisines-list {
  background-color: #f2f2f2;
  width: max-content;
  height: 15px;
  width: 180px;
  border-radius: 8px;
  margin: 0.5rem 0;
  animation: example 0.5s infinite;
}
.restaurant-details-shimmer-card > .locality {
  background-color: #f2f2f2;
  width: max-content;
  height: 15px;
  width: 80px;
  border-radius: 8px;
  margin: 0.5rem 0;
  animation: example 0.5s infinite;
}

.restaurant-card:hover {
  scale: 0.95;
  transition: 0.05s;
}

.restaurant-image {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.restaurant-name {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.star-logo {
  width: 20px;
}
.rating-and-sla {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-weight: bold;
}

.cuisines-list {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9b9b9b;
  font-weight: 300;
}

.locality {
  color: #9b9b9b;
  font-size: 17px;
  font-weight: 300;
}

@media (max-width: 1100px) {
  #restaurant-container,
  .filters-bar {
    width: 800px;
  }
}

@media (max-width: 820px) {
  #restaurant-container,
  .filters-bar {
    width: 500px;
  }
}

@media (max-width: 520px) {
  #restaurant-container,
  .filters-bar {
    width: 100%;
  }
}

#error-message {
  text-align: center;
  font-size: 1rem;
  margin-top: 5rem;
}

#error-message > p {
  font-size: 1.5rem;
  background-color: yellow;
  padding: 0.5rem 0;
}

#login-container {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background-color: #eaeaea;
  width: 300px;
  margin: 2rem auto;
  padding: 1.5rem 0.5rem;
  border-radius: 5px;
}
#login-container > div > input {
  height: 30px;
  width: 200px;
  padding: 0 0.5rem;
  font-size: large;
}
#login-container > button {
  background-color: orange;
  padding: 0.3rem 5rem;
  border-radius: 5px;
}
#login-container > button:hover {
  cursor: pointer;
  opacity: 90%;
}
.mandatory {
  color: red;
}

.restaurant-menu-container {
  width: 800px;
  margin: 1rem auto 5rem auto;
  display: flex;
  flex-direction: column;
}
.restaurant-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.restaurant-details-2 {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #cecece;
  padding: 0 0 0.5rem 0;
}
.restaurant-details-name {
  font-size: larger;
  font-weight: bold;
}
.restaurant-details-cuisines {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9b9b9b;
  font-weight: 300;
}
.restaurant-details-areaname {
  color: #9b9b9b;
  font-weight: 300;
}

.rating-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px solid #eeeeee;
}
.rating-details > p {
  font-weight: 500;
}
.rating-details > img {
  width: 18px;
  height: 18px;
}
.restaurant-details-rating {
  color: #9b9b9b;
}

@media (max-width: 830px) {
  .restaurant-menu-container {
    width: 90%;
    padding: 0 1.5rem;
  }
}

.category-name {
  display: flex;
  justify-content: space-between;
  user-select: none;
  background-color: #f0f0f0;
  padding: 0.2rem 1rem;
}

.category-name:hover {
  cursor: pointer;
}

.category-name:hover > p {
  scale: 1.5;
  transition: all 0.05s;
}

.single-item {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
  border-bottom: 1px solid lightgray;
}
.single-item > div > .name {
  font-weight: 600;
}
.single-item > div > .description {
  color: #b7b7b7;
  font-size: small;
  margin-top: 1rem;
}

.single-item > div > img {
  align-self: flex-end;
  width: 120px;
  height: 95px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  margin-left: 2rem;
  background: #e8e8e8;
}
.restaurant-menu-container-shimmer-card > .restaurant-details-2 > .details {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .details
  > .restaurant-details-name {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 220px;
  height: 20px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .details
  > .restaurant-details-cuisines {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 150px;
  height: 20px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .details
  > .restaurant-details-areaname {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 80px;
  height: 20px;
}

.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .rating-price {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .rating-price
  > .rating-details {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 50px;
  height: 20px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-details-2
  > .rating-price
  .restaurant-details-rating {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 80px;
  height: 20px;
}

.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .category-name {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 95%;
  height: 25px;
}

.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .single-item
  > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .single-item
  > div
  > .name {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .single-item
  > div
  > .price {
  background-color: #f2f2f2;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 30px;
  height: 25px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .single-item
  > div
  > .description {
  background-color: #f4f4f4;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 200%;
  height: 20px;
}
.restaurant-menu-container-shimmer-card
  > .restaurant-menu
  > .menu
  > .single-item
  > .image {
  background-color: #f4f4f4;
  animation: example 0.4s infinite;
  border-radius: 5px;
  width: 100px;
  height: 80px;
}

.class-component-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-top: 5rem;
  padding: 2rem;
  background-color: #f4f4f4;
}

.class-component-card > button {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.number {
  font-size: x-large;
}
.class-component-card > button:hover {
  cursor: pointer;
  background-color: #ccc;
}

.profile-card {
  background-color: #202020;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}
.profile-card > img {
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profile-card > div > p {
  color: white;
  line-height: 1.3rem;
  text-align: center;
}
.profile-card > div > .username {
  color: #c6c6c6;
  font-size: small;
}

.profile-card > a {
  color: rgb(134, 142, 255);
}
